<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body>
    {% block header %}
        <h1>Это домашняя страница</h1>
    {% endblock %}
    {% block content %}
        <ul>
            <li>расписание занятий</li>
            <li>Детали курса</li>
            <li>Видеоурок</li>
            <li>о нас</li>
        </ul>
    {% endblock %}
    {% block footer %}
        <div class="footer">
                         Внизу сайта
        </div>
    {% endblock %}

</body>
</html>